CAD/files
Fritzing/Fritzing-Library-master
Fritzing/H-Bridge with L298N.fzpz
Matlab_refined
Matlab-Beilassan
presentation/zain_python_simulation.pptx
presentation/zain_RL_CAD.pptx
report/img
report/4DOF_Robotic_Arm_Report.docx
report/Autonomous_Mobile_Manipulator_Report.docx
report/graduation_project_sections.docx
report/mobile_manipulator_mechanical.docx
report/RL_Controller_Report.pdf
report/Simulation of a Mobile Manipulator for Pick-and-Place Tasks in Static Environments.docx
report/زين اهداءات.docx
robot_simulation_matlab
videos/CoppeliaSim_Edu_graduationProject_final_rendering_19_ms_0_56_fps.mp4
videos/python_GUI_1min.mp4
videos/python_GUI_org.mp4
videos/python_GUI.mp4
videos/simulation matlab.mp4
ROS_stractures